@import "./styles/partials/variables";
@import "./styles/partials/card";
@import "./styles/partials/button";
@import "./styles/partials/form";
@import "./styles/partials/utilities";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  background-color: $very-light-gray;
  // border-radius: 10px;
  // box-shadow: inset 5px 5px 12px 0 #aaa, inset -8px -8px 12px 0 #eee;
}

.search-input {
  position: relative;
}

#search-icon {
  top: 3%;
  left: 0;
  position: absolute;
  padding: 0.5rem 1rem;
  opacity: 0.5;
}

#searchTerm {
  padding: 0.8rem 3rem;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.img-container {
  object-fit: cover;
  img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

dl {
  display: flex;
  margin-bottom: 0;

  dt {
    margin-right: 0.5rem;
  }

  dt::after {
    content: ": ";
  }
}
